---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Muka Bilbao">
	<Navbar />
	<section class="overflow-hidden">
		<div class="container mission-hero">
		   <div class="row">
			  <div class="col-12 col-md-7">
				 <img src="/web/20211204211516im_/https://kojo.co.uk/img/kolture/hood-food.png" alt="Hampstead Station" class="mission-image d-none d-lg-block"> <img src="/web/20211204211516im_/https://kojo.co.uk/img/kolture/home-food-mobile-2.jpg" alt="Hampstead Station" class="mission-image d-block d-lg-none"> 
				 <h1><span>Go</span>od <br> <span>for</span> the <br> <span>Ho</span>od
				 </h1>
			  </div>
			  <div class="col-12 col-md-5">
				 <img src="/web/20211204211516im_/https://kojo.co.uk/svg/kojo-stamp-straight.svg" alt="Kojo Stamp" class="kojo-stamp-image"> 
				 <p>
					En Muka fusionamos lo mejor de la cocina española e italiana con productos frescos y de calidad.
					Nuestro menú ofrece deliciosas tapas españolas y platillos italianos auténticos,
					todos preparados con ingredientes sanos y naturales. 
				 </p>
			  </div>
		   </div>
		</div>
		<div class="carousel-container" data-v-1d4422d8="">
		   <!---->
		</div>
		<div class="container why-section">
		   <div class="row">
			  <div class="col-12 col-xl-10">
				 <h2>Go with your gut. Change to a plant-based diet.</h2>
				 <p class="pb-1">
					Changing to a plant-based diet will not only reduce our food carbon
					footprint by up to 73%, it will also significantly reduce the risk of
					heart-disease, diabetes, stroke and many forms of cancer.
				 </p>
				 <p class="bold">
					It has a very low environmental impact: it can reduce our food carbon
					footbprint by up to 73%
				 </p>
			  </div>
		   </div>
		</div>
		<div>
		   <div class="carousel-container">
			  <!---->
		   </div>
		</div>
		<div class="container details-section">
		   <div class="row">
			  <div class="col-12 col-md-6 mb-5">
				 <h4>Nurture nature, and nature will nurture us</h4>
				 <p>
					Living a plant-based diet is one of the most powerful ways to
					re-connect with nature, and to return to our instinctive way of caring
					for the planet. If we care for nature, nature will care for us. It’s
					been that way for thousands of years and if we want it to continue for
					thousands more, we have to change our ways.
				 </p>
			  </div>
			  <div class="col-12 col-md-6">
				 <h4>An Authentic interest in the Kommunity</h4>
				 <p>
					Sometimes it can seem daunting just thinking about what needs to be
					done to help the environment, let alone actually doing anything about
					it. So, instead of taking on the whole world, let’s all look at what
					can be done in our own neighbourhood. From recycling and composting,
					going plastic-free and of course, reducing the amount of meat in our
					diet. All of these little things make a real difference to the way we
					want the world to be.
				 </p>
			  </div>
		   </div>
		</div>
		<div class="container easier-section" data-v-a89a4d1c="">
		   <div class="row" data-v-a89a4d1c="">
			  <div class="col-12 offset-md-4 col-md-8 offset-xl-5 col-xl-7 text-left text-md-right" data-v-a89a4d1c="">
				 <h2 data-v-a89a4d1c="">
					This sh*t just <br data-v-a89a4d1c="">
					got a whole lot easier . . .
				 </h2>
			  </div>
		   </div>
		   <div class="row" data-v-a89a4d1c="">
			  <div class="col-12 mt-5 mt-xl-0" data-v-a89a4d1c=""><img src="/web/20211204211516im_/https://kojo.co.uk/img/kolture/kolture-graph.png" alt="diagram" width="100%" data-v-a89a4d1c=""></div>
		   </div>
		   <div class="row easier-details" data-v-a89a4d1c="">
			  <div class="col-12 offset-md-2 col-md-10 text-left text-md-right" data-v-a89a4d1c="">
				 <p data-v-a89a4d1c="">
					Our APP makes everything easier. Whether you stay, get it delivered,
					or GOGO, you'll get extra reward points for every pound you spend.
					Earn KOJO points to unlock tiers, and receive benefits and discounts.
					You could even score some free KOJO merch. Download it now and
					register to earn 50 points automatically. Easy.
				 </p>
			  </div>
		   </div>
		</div>
		<div class="container" data-v-4af02700="">
		   <div class="row join-section" data-v-4af02700="">
			  <div class="col-12 col-md-6" data-v-4af02700=""><img src="/web/20211204211516im_/https://kojo.co.uk/img/kolture/join-image.jpg" alt="girl" class="join-girl" data-v-4af02700=""></div>
			  <div class="col-12 col-md-6 join-cta my-auto" data-v-4af02700="">
				 <img src="/web/20211204211516im_/https://kojo.co.uk/svg/kojo-logotype.svg" alt="girl" data-v-4af02700=""> 
				 <p data-v-4af02700="">
					are always looking for inspiring ko-workers to join our growing
					kommunity.
				 </p>
				 <a href="/web/20211204211516/https://kojo.co.uk/jobs/" class="btn custom-btn" data-v-4af02700="">JOIN THE KREW</a>
			  </div>
		   </div>
		</div>
		<div class="jukebox" data-v-bea2525e="">
		   <div class="container" data-v-bea2525e="">
			  <div class="row" data-v-bea2525e="">
				 <div class="col-12" data-v-bea2525e="">
					<h2 data-v-bea2525e="">// KOJO BEATS</h2>
					<iframe src="https://web.archive.org/web/20211204211516if_/https://open.spotify.com/embed/playlist/7mxBRlA7bcLGAI4Fsp0g2k" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" data-v-bea2525e="" data-ruffle-polyfilled=""></iframe>
				 </div>
			  </div>
		   </div>
		</div>
	</section>
	<Footer />
</Layout>

<style>

</style>