---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Map from "../components/Map.astro";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import LittleNap from "../components/LittleNap.astro";
---

<Layout title={"Muka Bar Bilbao - "}>
  <div class="min-w-[1200px]">
    <Header />

    <!-- Top Area -->
    <div
      id="topArea"
      class="h-[calc(100vh-77px)] bg-cover bg-center text-center mb-[77px] min-w-[1200px]"
    >
      <div
        class="absolute top-0 left-0 w-full h-full bg-[url('./src/assets/images/img_top.jpg')] bg-cover bg-center min-w-[1200px]"
      >
      </div>
    </div>

    <About />

    <!-- Photo Area -->
    <div id="photoArea" class="h-[640px]" />
      <Menu />
      <LittleNap />
      <Map />
      <Footer />
    </div>
</Layout>

<style>
  #photoArea {
    background: url(../assets/images/img_bg.jpeg) center center no-repeat fixed;
    background-size: cover;
  }
</style>