---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Muka Bilbao">
	<Navbar />
	<section>
		<section class="hero-section">
		   <div class="mobile-hero d-md-none"></div>
		   <div class="hero-container">
			<div class="row pt-md-5">
			   <!-- <div class="col-2 col-lg-1 d-none d-md-block"><img src="/icons/kojo-hero.svg"></div> -->
			   <div class="col-12 col-md-8 col-lg-6 ml-0 ml-sm-2">
				  <div class="d-flex justify-content-center justify-content-sm-start">
					 <a href="/web/20210615202119/https://kojo.co.uk/menu/">
						<div class="hero-card card-border-1 overflow-hidden">
						   <div class="hero-inner-card card-bg-1"></div>
						   <div class="title card-title-1">
							  <p>
								 MENU <br> <span>A Happier Meal</span>
							  </p>
						   </div>
						</div>
					 </a>
					 <a href="/web/20210615202119/https://kojo.co.uk/locations/">
						<div class="hero-card card-border-2">
						   <div class="hero-inner-card card-bg-2"></div>
						   <div class="title card-title-2">
							  <p>
								 STORES <br> <span>Find your nearest location</span>
							  </p>
						   </div>
						</div>
					 </a>
				  </div>
				  <div class="d-flex justify-content-center justify-content-sm-start">
					 <a href="/web/20210615202119/https://kojo.co.uk/jobs/">
						<div class="hero-card card-border-3">
							<div class="hero-inner-card card-bg-3"></div>
							<div class="title card-title-3">
								<p>
									APPLY <br> <span>Join the KOJO KREW</span>
								</p>
							</div>
						</div>
					 </a>
					 <a href="https://www.instagram.com/mukabilbao/" target="_blank">
						<div class="hero-card card-border-4">
						   <div class="hero-inner-card card-bg-4"></div>
						   <div class="title card-title-4">
							  <p>
								 SOCIAL <br> <span>Follow the movement</span>
							  </p>
						   </div>
						</div>
					 </a>
				  </div>
			   </div>
			</div>
			<div class="hashtag-section">
				<img src="/icons/hashtag.svg" alt="hashtag-black" class="d-inline d-sm-none">
				<img src="/icons/hashtag.svg" alt="hashtag" class="d-none d-sm-inline">
				<img src="/icons/postcode-black.svg" class="d-inline d-sm-none postcode">
				<img src="/icons/nw3.svg" class="postcode d-none d-sm-inline">
			</div>
		 </div>
		</section>
		<div class="container order-container">
		   <div class="row justify-content-center">
			  <div class="col-12 px-md-5">
				 <h2 class="ordering-title">RESERVAS</h2>
				 <p class="ordering-subtitle">QUEREMOS BRINDARTE <span>MOMENTOS MEMORABLES</span></p>
				 <p class="ordering-paragraph">
					Para garantizar que tu visita sea perfecta, te recomendamos reservar con anticipación.
					Para grupos grandes, celebraciones o pedidos especiales de bocadillos, por favor, 
					contáctanos con antelación para poder atenderte de la mejor manera posible. 
					¡Esperamos ansiosos tu reserva para que disfrutes de una experiencia culinaria inolvidable!
				 </p>
			  </div>
		   </div>
		   	<div class="row justify-content-center">
			  	<div class="col-10 text-right">
					<a href="/web/20211204211823/https://kojo.co.uk/app/" class="learn"><b>Ponerse en contacto</b>
					<img src="/icons/right-arrow.svg">
					</a>
				</div>
		   	</div>
		</div>
		<div class="jukebox" data-v-bea2525e="">
			<div class="container" data-v-bea2525e="">
			   <div class="row" data-v-bea2525e="">
				  <div class="col-12" data-v-bea2525e="">
					 <h2 data-v-bea2525e="">// MUKA BILBAO</h2>
					 <iframe src="https://web.archive.org/web/20211204211516if_/https://open.spotify.com/embed/playlist/7mxBRlA7bcLGAI4Fsp0g2k" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" data-v-bea2525e="" data-ruffle-polyfilled=""></iframe>
				  </div>
			   </div>
			</div>
		 </div>
	 </section>
	<Footer />
</Layout>

<style>
	.hero-section {
		background-image: url("https://lh3.googleusercontent.com/p/AF1QipOxDpm-j4jhJER7WVJOjKqrKmh2x6Z9COjvp81y=s680-w680-h510");
		height: 781px;
		background-position: 50%;
		background-size: cover;
	}

	.hero-container {
		max-width: 1318px;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.order-container {
		margin-top: -47px;
	}

	.ordering-title {
		font-size: 84px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 10px;
		background: -webkit-linear-gradient(#fff 55%, #000 0);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.ordering-subtitle {
		font-size: 44px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 8px;
	}

	.ordering-paragraph {
		font-size: 15px;
		font-weight: 500;
	}

	.ordering-subtitle span {
		color: #d7d2cb;
	}

	.hero-card {
		-webkit-mask-image: -webkit-radial-gradient(#fff, #000);
		margin: 5px;
		height: 277px;
		width: 280px;
	}

	.hero-card:hover .hero-inner-card {
		transform: scale(1.1);
	}

	.card-border-1 {
		border-radius: 40px 0 40px 0;
	}

	.card-border-2 {
		border-radius: 0 40px 0 40px;
	}

	.card-border-3 {
		border-radius: 0 40px 0 40px;
	}

	.card-border-4 {
		border-radius: 40px 0 40px 0;
	}

	.hero-inner-card {
		width: 100%;
		height: 100%;
		background-position: 50%;
		background-size: cover;
		transition: all .5s;
	}

	.card-bg-1 {
		background-image: url(../../public/hero/menu-button-1.jpg);
	}

	.card-bg-2 {
		background-image: url(../../public/hero/locations.jpg);
	}

	.card-bg-3 {
		background-image: url(../../public/hero/apply-button.jpg);
	}

	.card-bg-4 {
		background-image: url(../../public/hero/social.jpg);
	}

	.title {
		position: absolute;
	}

	.title p {
		font-size: 36px;
		font-weight: 900;
		margin: 0;
		line-height: .4;
	}

	.title p span {
		margin: 0;
		font-weight: 500;
		font-size: 14px;
	}

	.title.card-title-1 {
		color: #fff;
		top: 65px;
		left: 160px;
		text-align: right;
	}

	.title.card-title-2 {
		top: 65px;
		left: 335px;
	}

	.title.card-title-3 {
		text-align: right;
		top: 482px;
		left: 127px;
	}

	.title.card-title-4 {
		color: #fff;
		top: 482px;
		left: 335px;
	}
</style>