---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Mantenimiento - Muka Bilbao">
    <section class="bg-black">
        <div class="align-items-center container">
           <div class="d-flex flex-column align-items-center justify-content-center full-height">
              <div class="text-center mt-auto">
                 <img src="/mukalogo.jpeg" height="360" alt="MUKA"> 
                 <h1 class="pt-3 font-weight-bold">PRÓXIMAMENTE</h1>
              </div>
              <div class="text-center mt-auto">
                 <a href="" target="_blank">
                    <p class="pb-0">[ Más actualizaciones disponibles en nuestras redes sociales ]</p>
                    <p><img src="/icons/instagram.svg" alt="MUKA"> MUKABILBAO</p>
                 </a>
              </div>
           </div>
        </div>
    </section>
</Layout>

<style>
    body {
        color: white!important;
    }

    h1 {
        font-size: 55px;
    }

    p {
        font-size: 22px;
        padding-bottom: 30px;
    }
</style>