<!-- About Area -->
<div id="aboutArea" class="w-full">
  <div class="flex flex-col justify-center md:flex-row p-6 bg-background text-foreground w-[1100px] mx-auto">
    <!-- Imagen -->
    <img src="./src/assets/images/img_about.jpg" class="w-[460px] my-[40px]" />

    <div class="md:w-1/2 md:pl-6 mt-[40px] pl-[140px]">
      <h2 class="text-2xl font-bold">ABOUT HOCUS POCUS</h2>
      <p class="text-muted-foreground mb-4">
        ホーカスポーカスは魔法の言葉。
      </p>
      <p class="mb-4">“HOCUS POCUS” IS THE WORD OF MAGIC.</p>
      <p class="text-muted-foreground mb-4">
        It puts a delicious and lush spell on our sweets and people who eat
        it. Our sweets are made by traditional process and brilliant skills.
        We have the donuts which look like cakes, and hand-portable baked
        sweets. Our shop is on the first floor of the building in
        Hirakawa-cho, TOKYO, just two minutes walk from the Nagata-cho
        station. There is a leafy entrance gate, and we have some seats in
        our shop.
      </p>
      <p class="mb-4">
        What you can enjoy here is wonderful coffee and sweets, and relaxing
        rich time. In our shop, you can drink a coffee of “Little Nap COFFEE
        STAND”, the coffee shop in Yoyogi-Koen station.
      </p>
      <p class="text-muted-foreground">
        We hope it will be a special time that you choose and eat our
        sweets, and give it someone. Please come to our shop in any time of
        your daily life, and enjoy our delicious magic.
      </p>
    </div>
  </div>
</div>