<section class="p-4">
    <h2 class="text-xl font-bold mb-2">BRAND NEW DONUTS</h2>
    <p class="mb-4">Also, Hocus Focus is a donuts laboratory. We have the donuts not only fried, but also baked and steamed. We use fine ingredients and make experimental donuts. For all generations, we think a great deal of the ingredients itself, the natural texture and flavor. For your coffee time, dessert time, breakfast, and also drinking time, we hope you will enjoy our donuts in any situation. Our donuts will be always “BRAND NEW”, so please don’t miss it!</p>
</section>