<footer class="flex flex-col justify-center">
    <h2 class="text-xl font-bold text-center w-full">Contacto</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex flex-col">
          <a href="https://g.co/kgs/8YSib8w" class="text-center">Simón Bolívar Kalea, 25, Abando, 48010 Bilbao, Bizkaia [MAP]</a>
          <a href="tel:944026745" class="my-4 text-center">TEL: 944026745</a>
          <p class="text-center">Lunes - Sábado 6:00-23:30</p>
          <p class="text-center">Domingos Cerrado</p>
        </div>
        <div class="flex flex-col">
            <a href="https://g.co/kgs/8YSib8w" class="text-center">Simón Bolívar Kalea, 25, Abando, 48010 Bilbao, Bizkaia [MAP]</a>
            <a href="tel:+34944026745" class="my-4 text-center">TEL: +34944026745</a>
            <p class="text-center">Monday - Saturday 6:00-23:30</p>
            <p class="text-center">Sunday Closed</p>
        </div>
    </div>
    <div class="flex flex-col">
    <h2 class="text-xl font-bold text-center">OFFICIAL ACCOUNT</h2>
    <p class="text-center">Las últimas novedades se proporcionan en la cuenta oficial de muka.bilbao</p>
    <p class="text-center">The latest news, updates in muka.bilbao</p>
    <div class="flex justify-center space-x-4 mt-4">
        <a href="#" class="text-primary hover:text-primary/80">Facebook</a>
        <a href="#" class="text-primary hover:text-primary/80">Tik Tok</a>
        <a href="#" class="text-primary hover:text-primary/80">Instagram</a>
    </div>
    </div>
</footer>