<!-- Footer -->
<footer class="mt-[90px]">
    <div
        class="w-[1100px] mx-auto border-t border-gray-300 text-center relative flex justify-between"
    >
        <a href="#topArea" class="absolute top-[-39px] left-1/2 ml-[-34px]">
            <img
                src="./src/assets/images/to_top.png"
                alt="To Top"
                class="h-[68px]"
            />
        </a>
        <p class="logo mt-[40px] mb-[55px]">
            <img
                src="./src/assets/images/mukalogo.jpeg"
                alt="Logo"
                class="w-[214px]"
            />
        </p>
        <p class="copyright mt-[65px] text-gray-500">
            ©MUKA BILBAO 2024
        </p>
    </div>
</footer>
