---

---

<footer class="footer">
    <div class="container">
       <div class="row">
          <div class="col-12 col-sm-3 order-3 order-sm-1">
             <span class="footer-title">Contacto</span> 
             <div class="footer-items get-in-touch-button">
                Pongase en contacto <img src="/icons/right-arrow.svg" class="arrow"> 
                <div class="yes-reservations">Reservaciones requeridas</div>
             </div>
          </div>
          <div class="col-12 col-sm-4 order-1 order-sm-2">
             <div class="d-flex footer-title justify-content-between">
                <div><span>Legal</span></div>
                <div><img src="/web/20211204211516im_/https://kojo.co.uk/svg/angle-down-solid.svg" alt="Arrow down" width="20px" class="d-inline d-sm-none"></div>
             </div>
             <div class="footer-items showItems_legal">
                <p>Políticas</p>
                <a href="/web/20211204211516/https://kojo.co.uk/pdf/KOJO-Allergen-Chart-04-2021-V02.pdf" target="_blank">Alérgenos</a>
             </div>
          </div>
          <div class="col-12 col-sm-3 order-2 order-sm-3">
             <div class="d-flex footer-title justify-content-between">
                <div><span>Explora</span></div>
                <div><img src="/icons/angle-down-solid.svg" alt="Arrow down" width="20px" class="d-inline d-sm-none"></div>
             </div>
             <div class="footer-items showItems_explore">
                <a href="/web/20211204211516/https://kojo.co.uk/coming-soon/">
                   <p>Carta</p>
                </a>
                <a href="/web/20211204211516/https://kojo.co.uk/eko/">
                   <p>Nuestra promesa</p>
                </a>
                <a href="/web/20211204211516/https://kojo.co.uk/locations/">
                   <p>Encuentranos</p>
                </a>
             </div>
          </div>
          <div class="col-12 col-sm-2 offset-md-0 offset-lg-0 order-4 order-sm-4 d-flex flex-column align-items-sm-end">
             <span class="footer-title d-none d-sm-block">Social</span> 
             <div class="footer-items">
                <div class="d-flex justify-content-between">
                   <div><a href="https://web.archive.org/web/20211204211516/https://www.instagram.com/kojokolture/" target="_blank"><img src="/icons/instagram.svg" width="30px" height="30px"></a></div>
                   <div><a href="https://web.archive.org/web/20211204211516/https://open.spotify.com/playlist/7mxBRlA7bcLGAI4Fsp0g2k" target="_blank"><img src="/icons/spotify.svg" width="30px" height="30px"></a></div>
                </div>
                <div class="pt-3 justify-content-between d-none d-sm-flex">
                   <div><a href="" target="_blank"><img src="/icons/facebook-wg1.svg" width="30px" height="30px"></a></div>
                    <div><a href="" target="_blank"><img src="/icons/twitter.svg" width="30px" height="30px"></a></div>
                </div>
             </div>
          </div>
       </div>
       <div class="copy-section">
          <img src="/muka-logotype-mini.svg"> 
          <p class="footer-copy">© 2024 Muka Bilbao. Todos los derechos reservados.</p>
       </div>
    </div>
 </footer>

<style>
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }

	.footer {
		height: 410px;
    	padding-bottom: 50px;
	}

    .footer-title {
        display: block;
        font-weight: 900;
        font-size: 20px;
        padding-top: 40px;
    }

    .footer-items {
        font-weight: 500;
        font-size: 18px;
        margin-top: 40px;
    }

    .get-in-touch-button {
        cursor: pointer;
    }

    .footer-copy {
        margin-top: 15px;
        font-weight: 500;
        font-size: 15px;
        color: #d7d2cb;
    }

    .yes-reservations {
        padding-top: 10px;
        font-size: 15px;
        color: #d7d2cb;
    }
</style>