<!-- Header / Nav -->
<header
	id="mainHeader"
	class="fixed top-0 left-0 w-full h-[100px] border-b border-gray-300 bg-white text-center z-10 transition-all duration-300"
>
	<div class="inline-block py-3">
	<img
		src="./src/assets/images/mukalogo.jpeg"
		alt="Logo"
		class="w-[192px]"
	/>
	</div>
	<div class="absolute top-[26px] right-0">
	<ul class="inline-block">
		<li class="inline-block">
		<a href="#" class="mr-[25px]">
			<img
			src="./src/assets/images/btn_fb_off.png"
			alt="Facebook"
			class="w-[22px]"
			/>
		</a>
		</li>
		<li class="inline-block">
		<a href="#" class="mr-[25px]">
			<img
			src="./src/assets/images/btn_insta_off.png"
			alt="Instagram"
			class="w-[22px]"
			/>
		</a>
		</li>
	</ul>
	</div>
</header>


<style>
	header {
	  transition: all 0.3s ease;
	}
  
	header.bottom-0 {
	  top: auto;
	  bottom: 0;
	  border-top: 1px solid #e0e0e0;
	  border-bottom: none;
	}
  
	header.top-0 {
	  top: 0;
	  bottom: auto;
	  border-bottom: 1px solid #e0e0e0;
	  border-top: none;
	}
  </style>
  <script>
	document.addEventListener("DOMContentLoaded", function () {
	const header = document.getElementById("mainHeader");
	const topArea = document.getElementById("topArea");

	// Altura del topArea
	const topAreaHeight = topArea.offsetHeight;

	// Inicialmente, el header está en la parte inferior
	header.classList.add("bottom-0", "top-auto");

	window.addEventListener("scroll", function () {
		const scrollPosition = window.scrollY;

		if (scrollPosition >= topAreaHeight) {
		// Si el scroll supera la altura del topArea, mover el header a la parte superior
		header.classList.remove("bottom-0", "top-auto");
		header.classList.add("top-0");
		} else {
		// Si el scroll está dentro del topArea, mover el header a la parte inferior
		header.classList.remove("top-0");
		header.classList.add("bottom-0", "top-auto");
		}
	});
	});
  </script>
  